*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    
    display: flex;
  
    min-height: 100vh;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .kapsayici{
    backdrop-filter: blur(20px);
    height: 583px;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    padding: 30px 40px;
  }
  .kapsayici #bas{
    font-size: 36px;
    text-align: center;
  }
  .kapsayici .inputlar{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
  }
  .inputlar input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
   
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .inputlar input::placeholder{
    color: #fff;
  }
  .inputlar i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }

  .kapsayici .btn{
    border-radius: 33px;
    width: 100%;
    height: 45px;
    background: red;
    border: none;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  input::placeholder{
    opacity: 0.7;
  }


  span{
    color: white;
  }
  .kur p{
    opacity: 0.4;
  }
  .kapsayan{
    flex-direction: column;
    position: relative;
    left: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 

  .unutma{
    margin-top: 20px;
    opacity: 0.4;
  }

  .bas{
    display: flex;
    justify-content: center;
  }
  .unutma a{
    color: honeydew;
    text-decoration: none;
    float: right;
  }